<footer class="footer mt-auto text-muted">
  <div style="float: right; font-size: 0.8rem;">
    <p>
      Last updated on {{ envs["date"] }}.
      <br>
      <a class="text-reset" href="{{ envs['bug_tracker'] }}/issues/">
        Found a bug? Or have a suggestion?
      </a>
    </p>
  </div>
</footer>
