<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ envs['base_url'] }}/">Godeb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Packages
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdownMenuLink">
            {% for pkg, attributes in pkgs.items() %}
              <li>
                <a class="dropdown-item" href="{{ envs['base_url'] }}/pkg/{{ pkg }}-{{ attributes['revision'] }}.html">{{ pkg }} ({{ attributes["revision"] }})</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
    <a class="btn btn-secondary" href="{{ envs['home'] }}" role="button">Add a Package</a>
  </div>
</nav>
