<!doctype html>
<html lang="en">
  {% block head %}
    <head>
      {% include "partials/head.html" %}
    </head>
    <title>
      {% block title %}{% endblock %} — Godeb
    </title>
  {% endblock %}

  <body class="container d-flex flex-column min-vh-100">
    {% block content %}
      {% include "partials/navbar.html" %}
    {% endblock %}

    {% block footer %}
      {% include "partials/footer.html" %}
    {% endblock %}

    {% block scripts %}
      {% include "partials/scripts.html" %}
    {% endblock %}
  </body>
</html>
