{% extends "layouts/baseof.html" %}
{% block title %}
  {{ package.capitalize() }} ({{ revision }}) Packaging Status
{% endblock %}
{% block content %}
  {{ super() }}
  <div id="content">
    <br>
    <h2 style="text-align:center">
      <p>
        <a class="text-decoration-none" href="https://{{ deps['path'] }}">
          {{ package.capitalize() }}
        </a> ({{ revision }}) Packaging Status in Debian
      </p>
    </h2>
    <br>

    <div class="progress">
      {% for key, value in count.items() %}
        {% if value[1] > 0.0 %}
          <div class="progress-bar bg-{{ key }}"
               role="progressbar tooltip"
               style="width: {{ value[1] }}%"
               aria-valuenow="{{ value[1] }}"
               aria-valuemin="0"
               aria-valuemax="100"
               data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="{{ '%.1f %%' % value[1] }}">
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <br>

    <ul class="list-style-horizontal">
      {% for key, value in count.items() %}
        {% if value[0] > 0 %}
          <li class="d-inline">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor"
                 class="bi bi-circle-fill bi-{{ key }}"
                 viewBox="0 0 10 10">
              <circle cx="5" cy="5" r="5">
            </svg>
            <span><b>{{ value[2] }}</b></span>
            <span style="font-size: 0.9em;"><b>({{ value[0] }})</b></span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <br><br>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Package</th>
          <th scope="col">Version</th>
          <th scope="col">Status</th>
          <th scope="col">Suite</th>
          <th scope="col">Available Version</th>
          <th scope="col">Satisfied</th>
        </tr>
      </thead>
      <tbody>
        {% for dep, attributes in deps["require"].items() %}
          <tr class="{{ color_map.get(attributes['satisfied'], 'table-light') }}">
            <th scope="row">{{ loop.index }}</th>
            <td>
              <b>
                {% if attributes["status"] == "Packed" %}
                  <a class="text-decoration-none" href="https://tracker.debian.org/pkg/{{ attributes['debian_name'] }}">{{ dep }}</a>
                {% else %}
                  {{ dep }}
                {% endif %}
              </b>
              {% if attributes["indirect"] == "true" %}
                <sup>*</sup>
              {% endif %}
              <br>
              <a class="text-muted" href="https://pkg.go.dev/{{ attributes['package'] }}/@{{ attributes['version'] }}">Go pkg</a>
              | <a class="text-muted" href="https://{{ attributes['package'] }}">Home</a>
            </td>
            <td>{{ attributes["version"] }}</td>
            <td>{{ attributes["status"] }}</td>
            {% if attributes["status"] == "Packed" %}
              <td>
                {% if "unstable" in attributes["suite"] %}
                  {{ attributes["suite"] }}
                {% else %}
                  <b>{{ attributes["suite"] }}</b>
                {% endif %}
              </td>
              <td>{{ attributes["available"] }}</td>
              <td>{{ attributes["satisfied"] }}</td>
            {% else %}
              <td>---</td>
              <td>---</td>
              <td>
                {% if "Not found" in attributes["wnpp"] %}
                  ---
                {% else %}
                  <a class="text-decoration-none" href="https://bugs.debian.org/cgi-bin/bugreport.cgi?bug={{ attributes['wnpp'].partition('#')[2] }}">{{ attributes["wnpp"] }}</a>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p class="table-footer">
      *  <a class="text-decoration-none text-muted" href="https://go.dev/ref/mod#glos-indirect-dependency">indirect dependency</a>
    </p>
  </div>
{% endblock %}
